<div class="jumbotron text-center mb-0 height-total">
  <h1 class="display-3">404</h1>
  <!-- page content -->
  <div class="col-md-12">
    <div class="col-middle">
      <% if notice %>
        <h2>Sorry but we couldn't find this page.</h2>
        <h4> <%= notice %> </h4>
      <% else %>
        <h2>Sorry but we couldn't find this page. This link should no longer be valid.</h2>
      <% end %>
      </p>
    </div>
  </div>
  <!-- /page content -->
</div>