<!-- Signature Modal -->
<div class="modal fade" id="signature-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signature-modal-label">Signature</h5>
        <button type="button" id="close-signature" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="signature-pad" class="signature-pad">
          <div class="signature-pad--body">
            <canvas style="touch-action: none;" width="664" height="333"></canvas>
          </div>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" data-action="clear">Clear</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="confirm-signature" class="btn btn-primary">Send Signature</button>
      </div>
    </div>
  </div>
</div>

<!-- End Signature Modal -->

<!-- Denial Sign Modal -->

<div class="modal fade" id="denial-sign-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="denial-sign-modal-label">Denial to Sign</h5>
        <button type="button" id="close-justification-denial" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="form-group">
            <textarea id="justification-denial-textarea" class="form-control" rows="10" cols="30"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="confirm-denial" class="btn btn-primary">Send Justification for Refusal</button>
      </div>
    </div>
  </div>
</div>

<!-- End denial Sign Modal -->

<div class="jumbotron mb-0 height-total">
  <h1 class="display-4">Welcome, <%= get_signatory_name %>!</h1>
  <p class="lead">This page is intended for signing or refusing the requested document.</p>
  <hr class="my-4">
  <div class="container">
    <div class="row justify-content-center">
      <p>Step 1) Download the document that requires your signature so that you can read it</p>
    </div>
    <div class="row justify-content-center">
      <p class="lead">
        <%= link_to "Download the Document", document_download_signature_path(get_solicitation_id), class:"btn btn-primary btn-lg" %>
      </p>
    </div>
    <div class="row justify-content-center">
      <p>Step 2) After reading the document, you can either sign by agreeing to the terms or you can refuse with justification</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p class="lead">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signature-modal" style="width: 148px;">Sign</button>
        </p>
      </div>
      <div class="col-auto">
        <p class="lead">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#denial-sign-modal">Deny to Sign</button>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Form -->
<%= render partial: 'form' %>