<div class="jumbotron text-center mb-0 height-total">
  <h1 class="display-3">Thank You!</h1>
  <% unless @signature.blank? %>
    <p class="lead"><strong>Your signature was sent successfully</strong></p>
    <hr>
    <p class="lead">You can download the signature and the document...</p>
    <div class="row justify-content-center">
      <div class="col-6">
        <p class="lead">
          <%= link_to "Download the Signature", download_signature_path(@signature.signature_token), class:"btn btn-primary btn-lg" %>
        </p>
        <p class="lead">
          <%= link_to "Download the Document", download_document_path(get_document_token), class:"btn btn-primary btn-lg" %>
        </p>
      </div>
    </div>
  <% else %>
    <p class="lead"><strong>Your justification was sent successfully</strong></p>
  <% end %>
</div>