<h1>Dear, <%= @signatory.name %></h1>
<p>
  We sent you a document that we would like, after reading, for you to sign. 
  The link below will take you to the page where the document is located and the 
  step-by-step to sign or refuse with a justification.
</p>

<p>The link is: <%= @new_signature.url %></p>

<p>Thanks!</p>
